{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Armazenamento dos Modelos de IA {% endblock %}</h1>
    {% for modelo in modelos %}
        <a href="{{ url_for('info', modelo_title=modelo['title']) }}">    
            <h2>{{ modelo['title'] }}</h2>
        </a>
        <span class="badge badge-primary">Modelo Inserido: {{ modelo['created'] }}</span>
        <a href="{{ url_for('editar', modelo_title=modelo['title']) }}">
            <span class="badge badge-warning">Editar Modelo</span>
        </a>
        <hr>
    {% endfor %}
{% endblock %}
