{% extends 'base.html' %}

{% block content %}
<h1>{% block title %} Desafio Flask - Parte 2 {% endblock %}</h1>

<p>
    Diz uma antiga fábula que um camundongo vivia angustiado com medo do gato.
Um mágico teve pena dele e o transformou em gato. Mas aí ele ficou com medo de cão, por isso o mágico o transformou em pantera.

Então ele começou a temer os caçadores.

A essa altura o mágico desistiu. Transformou-o em camundongo novamente e disse:

– Nada que eu faça por você vai ajudá-lo, porque você tem apenas a coragem de um camundongo.

É preciso coragem para romper com o projeto que nos é imposto.
Mas saiba que coragem não é a ausência do medo, é sim a capacidade de avançar, apesar do medo; caminhar para frente; e enfrentar as adversidades, vencendo os medos…

É isto que devemos fazer. Não podemos nos derrotar, nos entregar por causa dos medos.
</p>

{% endblock %}
